.card-img{
    margin-top: 20px;
    height: 350px;
}
.card-img img{
    height: 100%;
    width: 100%;
}
.card{
    position: relative;
}
#likes{
    position: absolute;
    top:20px;
    right: 50px;
}