@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
    /* background: rgb(135,126,208);
    background: linear-gradient(90deg, rgba(135,126,208,1) 7%, rgba(157,59,181,0.9668242296918768) 53%, rgba(102,0,255,0.9752275910364145) 100%); */
}

p{
    word-break: break-all;
    white-space: normal;
}

/* ----------------Containter----------- */

.mycontainer {
    width: 1200px;
    margin: 0px auto;
}
@media (min-width: 640px) {
    .mycontainer {
        max-width: 640px;
    }
}
@media (min-width: 320px) {
    .mycontainer {
        max-width: 320px;
    }
}
@media (min-width: 768px) {
    .mycontainer {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .mycontainer {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .mycontainer {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .mycontainer {
        max-width: 1536px;
    }
}


/* ----------------btn---------- */

.yellowBtn{
    display: flex;
    /* width: 225px; */
    height: 55px;
    padding: 20px 55px;
    margin: 30px 0px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 33.991px;
    background: #E6E600;
    color: #007500;
}
.yellowBtn:hover{

    color: #E6E600;
    background: #007500;
}

.smallYellowBtn{
    display: flex;
    width: 115px;
    height: 40px;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 20px;
    background: #E6E600;
    color: #007500;
}

.smallYellowBtn:hover{

    color: #E6E600;
    background: #007500;
}

.greenBtn{
    display: flex;
    /* width: 225px; */
    height: 55px;
    padding: 20px 55px;
    margin: 30px 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center !important;
    flex-shrink: 0;
    border-radius: 33.991px;
    background: #007500;
    color: #fff;
}

.logo{
    font-family: 'Oleo Script Swash Caps';
}

.heroTitle{
    color: #E6E600;
    font-family: 'Oleo Script Swash Caps';
    font-size: 54.641px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    line-height: normal;
    text-transform: capitalize;
}

.title{
    
    height: 67.839px;
    flex-shrink: 0;
    color: #007500;
    font-family: 'Oleo Script Swash Caps';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.cardTitle{
    color: #007500;
    text-align: center;
    font-family: 'Oleo Script Swash Caps';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}

.card:hover{
    background-color: aliceblue;
    
}

/* -----------paragraph--------- */
.paragraph{
    color: var(--body-text-color, #575757);
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

}

@media only screen and (max-device-width: 480px) {
    .heroTitle{
        font-size: 42px;
    }
    .title{
        font-size: 38px;
    }
}